name: inception 

services:
  nginx: 
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - ./web:/var/www/html
    depends_on:
      - mariadb
      - wordpress
    networks:
      - inception
  wordpress: 
    build: ./requirements/wordpress
    container_name: wp-php
    restart: always
    volumes:
      - ./web:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception
    environment:
      - WORDPRESS_DB_HOST=${WORDPRESS_DB_HOST}
      - WORDPRESS_DB_USER=${WORDPRESS_DB_USER}
      - WORDPRESS_DB_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${WORDPRESS_DB_NAME}
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    networks:
      - inception
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}  
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
networks:
  inception: